.App-header {
  background-color: #222;
  height: 200px;
  padding: 2;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.expandedMenu {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  align-items: center;
  height: 200px;
}

.collapsedMenu {
  height: 0px;
}

.extraOptions {
  flex-grow: 1;
  display: none;
}

.App-intro {
  font-size: large;
}

.App {
  text-align: center;
  background-color: #aaa;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.descriptionContainer {
  width: 45%;
  overflow: hidden;
}

.imageContainer {
  width: 45%;
  overflow: hidden;
}

.menu {
  display: flex;
  flex-flow: row;
  width: 90%;
}

.menuImage {
  height: 15px;
}

.menuOptions {
  flex-grow: 1;
}

.moviePoster {
  margin-top: 2px;
  margin-left: 4px;
  height: 300px;
  transition: height 1s;
}

.moviePoster:hover {
  height: 500px;
}

.movieContainer {
  background-color: #ddd;
}

.movieAttributes {
  align-content: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
