.App {
	text-align: center;
	background-color: #ddd;
}

.App-header {
	background: linear-gradient(#222, #ddd);
	height: 200px;
	padding: 2;
	color: white;
}

.App-intro {
	font-size: large;
}

.App-logo {
	animation: App-logo-spin infinite 20s linear;
	height: 80px;
}

.App-title {
	font-size: 1.5em;
}

body {
	background-color: #ddd;
}

.collapsedMenu {
	height: 0px;
	background-color: #ddd;
	transition: height 400ms;
}

.expandedMenu {
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
	align-items: center;
	height: 200px;
	transition: height 400ms;
	background-color: #ddd;
}

.extraOptions {
	box-sizing: border-box;
	margin-left: 300px;
	display: none;
	font-size: 25px;
	cursor: pointer;
}

.menu {
	display: flex;
	flex-flow: row;
}

.menuImage {
	height: 25px;
}

.menuOptions {
	box-sizing: border-box;
	margin-left: 284px;
	background-color: #ddd;
	font-size: 30px;
	font-weight: bold;
	cursor: pointer;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}
